/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: ibm-medium;
  background: url(../svg/Background.svg) no-repeat #e0e0e0;
  background-size: auto;
  color: var(--Negro);
}

.container {
  height: 100vh;
}

header {
  display: flex;
  align-items: center;

  & .header__logo {
    width: 139px;
    height: 122px;
    margin-left: 72px;
    background-color: #174034;

    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  & h1 {
    margin-left: 2.5%; /* 34px */
    font-size: var(--h1);
  }

  & .entrar-registrarse {
    display: flex;
    justify-content: space-around;
    font-size: var(--h3);

    position: absolute;
    right: 482px;
  }

  & .header__bbdd {
    background-color: var(--Accento);
    color: var(--Blanco);
    font-size: var(--h3);
    text-align: center;
    padding: 10px 0;

    height: 80px;
    width: 377px;
    border: none;
    border-radius: 11px;
    position: absolute;
    right: 72px;
  }
}

/* Tipografía */
@font-face {
  font-family: "ibm-medium";
  src: url("../font/ibmplexsans-medium-webfont.woff2") format("woff2"),
    url("../font/ibmplexsans-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: "ibm";
  src: url("../font/ibmplexsans-regular-webfont.woff2") format("woff2"),
    url("../font/ibmplexsans-regular-webfont.woff") format("woff");
}

/* ******************************** */

/* Variables */
:root {
  /* Colores */
  --Negro: #1e1e1e;
  --Blanco: #e0e0e0; /* Background y popups */
  --Campos-texto: #f1f1f1; /*Campos de texto*/
  --Gris: #4d4f4d;
  --Base: #308c6a;
  --Accento: #174034;

  /* Tamaño fuentes */
  --h1: 3.9375em; /* 63px */
  --h2: 3.1875em; /* 51px */
  --h3: 2.4375em; /* 39px */
  --h4: 1.5em; /* 24px */
  --p: 1em; /* 16px */
}
/* ******************************** */
